.block_content {
    margin-bottom: 1rem;
    a {
        color: $primary-color;
    }

    > p {
        // font-size: $fs-200;
        // line-height: calUni(23.38px);
        // margin-bottom: calUni(33px);
      
        @include m-breakpoint-down(small) {
          font-size: calUni(16px);
        }
    }
}

.dark {
    a {
        color: $accent-color;
    }
}