.description {
    &--introduction {
        @include m-breakpoint-down(small) {
            padding: 0 !important;
        }
    }

    &--development {
        @include m-breakpoint-down(small) {
            padding: 0 !important;
        }
    }
}

.block_content {
    margin-bottom: 1rem;
    a {
        color: $primary-color;
    }

     p {
        margin-bottom: 2rem;
      
        @include m-breakpoint-down(small) {
          font-size: calUni(16px);
        }
    }
}

.view_live_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    > i {
        margin-left: 10px;
    }
}

.mockup_img {
    margin: 2rem 0rem;
}

.dark {
    a {
        color: $accent-color;
    }
}