.status {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include m-breakpoint-down(small) {
        justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 0.5rem;
    }

    > :not(:last-child) {
        margin-right: 1rem;
        
        @include m-breakpoint-down(small) {
            margin-right: 0;
            
        }
    }
    &--card {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

        @include m-breakpoint-down(small) {
            width: 100%;
            margin-bottom: 0.5rem;
        }
        .name {
            font-weight: bold;
        }

        .status_t {
            color: $primary-color;
            text-transform: uppercase;
            
        }

        @include m-breakpoint-down(small) {
            font-size: 14px;
        }
    }
}

.dark {
    .status {

        &--card {

    
            .status_t {
                color: $accent-color;
            }
        }
    }
}