.testimonials {
  margin: 5rem 0;
  margin-bottom: 10rem;

  background-color: rgba($light-color, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  // background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
  background-attachment: fixed;
  position: relative;

  .background_div {
    // background-attachment: fixed;
    padding: 50px 0;
    background-image: radial-gradient(
      circle at top left,
      #E5E5E5 0%,
      #E5E5E5 2%,
      #F6F6F6 2%,
      #F6F6F6 23%,
      #F9F9F9 23%,
      #F9F9F9 55%,
      #FCFCFC 55%,
      #FCFCFC 80%,
      #42C0FF60 80%,
      #42C0FF60 86%,
      #26A8EA60 86%,
      #26A8EA60 96%,
      #1192D360 96%,
      #1192D360 100%
    );
  }

  .warn-top {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    color: $warning-color;
    font-weight: 800;
    @include m-breakpoint-down(small) {
      font-size: 1rem;
    }
  }

  .warn-bottom {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    color: $warning-color;
    font-weight: 800;
    @include m-breakpoint-down(small) {
      font-size: 1rem;
    }
  }

  .desc_text {
    font-weight: 600;
    @include m-breakpoint-down(small) {
      font-size: 1rem;
    }
  }
  .card_wrapper {
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    overflow: visible;

    .swiper {
      padding: 20px 5rem !important;
      padding-bottom: 50px !important;

      @include m-breakpoint-down(small) {
        padding: 20px 1rem !important;
        padding-bottom: 50px !important;
      }
    }

    .card {
      background-color: white;
      user-select: none;
      pointer-events: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      // border-left: 5px solid $primary-color;
      padding: 25px 30px;
      border-radius: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      // min-width: 500px;
      .saying {
        &::first-letter {
          font-size: 2rem;
          font-weight: 800;
          color: $primary-color;
        }

        @include m-breakpoint-down(small) {
          font-size: 1rem;
        }
      }

      .info {
        border-top : 2px solid rgba($primary-color, 0.5) ;
        padding-top: 5px;
        // margin-top: 2rem;
      }
    }
  }
}

.dark {
  .testimonials {
    background-color: rgba(#333, 0.2);

    .background_div {
      background-image: radial-gradient(
        circle at top left,
        #2D3A47 0%,
        #2D3A47 2%,
        #3A4856 2%,
        #3A4856 23%,
        #414D59 23%,
        #414D59 55%,
        #4E5D6C 55%,
        #4E5D6C 80%,
        #83FFDA60 80%,
        #83FFDA60 86%,
        #64E9C260 86%,
        #64E9C260 96%,
        #2FE0AC60 96%,
        #2FE0AC60 100%
      );
    }
    .card_wrapper {
      .card {
        background-color: #4d5a68;
        .saying {
          &::first-letter {
            color: $accent-color;
          }
        }

        .info {
          border-top : 2px solid rgba($accent-color, 0.5) ;
        }
      }
    }
  }
}
