.testimonials {
  margin: 5rem 0;
  margin-bottom: 10rem;
  padding: 50px 0;
  background-color: rgba($light-color, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  .desc_text {
    @include m-breakpoint-down(small) {
      font-size: 1rem;
    }
  }
  .card_wrapper {
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    overflow: visible;

    .swiper {
      padding: 20px 10px !important;
      padding-bottom: 50px !important;
    }

    .card {
      background-color: white;
      user-select: none;
      pointer-events: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-left: 5px solid $primary-color;
      padding: 10px 20px;
      height: 100%;
      // min-width: 500px;
      .saying {
        &::first-letter {
          font-size: 2rem;
          font-weight: 800;
          color: $primary-color;
        }

        @include m-breakpoint-down(small) {
          font-size: 1rem;
        }
      }

      .info {
        margin-top: 2rem;
      }
    }
  }
}

.dark {
  .testimonials {

    .card_wrapper {

      .card {
        border-left: 5px solid $accent-color;
        background-color: $dark-color;
        .saying {
          &::first-letter {
            color: $accent-color;
          }
        }
      }
    }
  }
}
